@font-face {
    font-family: 'Averta Demo PE Cutted Demo';
    src : url(../font/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf)
 }
 @font-face {
    font-family: 'Proxima Nova';
    src : url(../font/Proxima\ Nova\ Font.otf)
 }

body {
    background:  #FEFEFE;
}
@media only screen and (max-width:768px) {
   
   
   .img1{left: 30px !important;}
   .img2{left: 150px !important;
          top:200px !important}
   .img3 {left:10px !important;
        top:350px !important}
   .cont_11 {position:  relative !important;
             z-index: 1 !important;}
  .cont_12>img {display: none !important;}
  .button2 {width: 100% !important;}
  .cont_22 {display: inline-block !important;}
  .cont_21 {display: none !important;}
  .cont_212 {display: none !important;}
  .cont3 {display: none !important;}
  .cont_311 {display: inline-block !important;}
  .img6 {display: none !important;}
  .cont_42 {margin-top: 0px !important; 
           padding-left: 0px !important; }
   .text6 {padding-left: 25px !important;}
   .text5 {padding-left: 25px !important;}
  .img8 {top:3145px !important;
         left:150px !important;
        width: 30px !important;
    height: 30px !important;}
  .cont_32 {margin-left:25px !important;}
 .img_8 {width: 390px !important;}
  .img8 {  z-index: 1 !important;}
  .img9{display: none !important;}
  .img10 {display: none !important;}
  .img11 {display: none !important;}
  .slides {width: 499% !important;}
  .img23 {display: none !important;}
  .cont_34 {padding-top: 0px !important;}
  .cont_32 {margin-top: 10px !important;}
  .cont_52>img {display: none !important;}
  .cont_51 {padding-left: 25px !important;} 
   .text11 {font-size: 12px!important;}
  .cont_53 {display: none !important; }
  .cont_6 {width: 100% !important;}
  .cont_61 {display: none !important;}
  .cont_6 {padding: 30px 10px 20px 20px  !important;}
  .cont62 {display: inline-block !important;}
  .cont62>button {position: relative !important;
                   z-index: 1 !important;}
  .cont62>input {position: relative !important;
     z-index: 1 !important;}
  .img21 {     left: 190px !important;
    top: 4275px !important;
    width: 200px !important;  }
  .text_10 {position:  relative !important;
z-index: 1 !important;}
.text_11 {position:  relative !important;
    z-index: 1 !important;}
.text13{width: 100px !important;}
.text14 {font-size: 16px !important;}
.img22 {display: none !important;}
.cont_72 {display: none !important;}
}
.text {
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #000000;

}
.cont_ul>li>a{
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
       
    letter-spacing: 0.01em;
    
    color: #000000;
    text-decoration: none;
}
.cont_1 {
    height: 500px;
}
.cont_11>h2 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;

color: #000000;
}
.cont_11>p {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #565656;
}
.cont_11>button {
    width: 215px;
height: 65px;

background: #2639ED;
border-radius: 60px;
border:2px solid #2639ED;
font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.065em;
position: absolute;
z-index: 1;
color: #FFFFFF;
}
.cont_12>img {
    position: absolute;
    width: 661px;

}
.img1{
    position: absolute;
width: 129px;
height: 129px;
left: 623px;
top: 133px;
}
.img2 {
    position: absolute;
   
width: 178px;
height: 178px;
left: 1100px;
top: 470px;
}
.img3 {
   position: absolute;
  
width: 404px;
height: 154px;
left: 60px;
top: 445px;
}
.cont_2>div>div>h2 {
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    
    color: #000000;
}
.cont_2>div>div>p {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #757575;
}
.cont_3 {display: flex;
   
         }
.column {flex:33.3%;
    
}
.cont_31 {
    display: table-cell; 
    height:867px;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}
.cont_31>h2 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;

color: #000000;

}
.cont_31>p {
   
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
   
    
    color: #565656;
}
.cont_311>h2 {
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 49px;
    
    color: #000000;

}
.cont_311>p {
   
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
   
    
    color: #565656;
}
.img4 {
    position: absolute;
    width: 178px;
height: 178px;
left: 80px;
top: 1150px;

}
.img5 {
    position: absolute;
width: 405px;
height: 154px;
left: 125px;
top: 1550px;

}
.img7 {position: absolute;
    width: 120px;
    height: 120px;
    left: 1130px;
    top: 1610px;}
.cont_32 {
    background: #FFFFFF;
border: 1px solid #F2F2F2;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
border-radius: 40px;
padding:39px 32px 57px 31px;
position: relative;
z-index: 2;

}
.img6 {
 position: absolute;
width: 956px;
height: 619px;
left: 393px;
top: 1000px;
z-index: 1;
}
.cont_33{    
  
    width: 121px;
    height: 121px;
    background: #F1F7FF;
    border-radius: 20px;
}
.cont_331{    
  
    width: 121px;
    height: 121px;
    background: #FFF2F8;
    border-radius: 20px;
}
.cont_332{    
  
    width: 121px;
    height: 121px;
    background:  #FFF7E3;
    border-radius: 20px;
}
.cont_333{    
  
    width: 121px;
    height: 121px;
    background:  #DEFFEE;
    border-radius: 20px;
}
.text3{
font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 30px;
margin-left: 50px;
text-align: center;
width:190px;
color: #000000;
}
.text4 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
margin-left:31px;
margin-right: 32px;
text-align: center;

color: #757575;
}
.img8 {
    position: absolute;
   
    left: 350px;
    top: 2008px;
   
}
.text5 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;
position: relative;
z-index: 1;
color: #000000;
}
.text6 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #565656;
position: relative;
z-index: 1;
}
.img9 {
    position: absolute;
width: 178px;
height: 178px;
left: 760px;
top: 1900px;
}
.img10 {
position: absolute;
width: 129px;
height: 129px;
left: 582px;
top: 2160px;

}

.text7 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;
text-align: center;

color: #000000;
}
.text8 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
text-align: center;
}
.cont_51 {display: table;}
.slider{
    width: 300px;
    height: 185px;
    
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
  }
  
  .slides{
    width: 500%;
  
    display: flex;
   
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 500px;
  }
  
  .navigation-mannual{
  
    position: absolute;
    width: 200px;
    margin-top:30px;
    display: flex;
   
   
  }
  
  .mannual-btn{
   
    background: #E7F0FC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .mannual-btn:not(:last-child){
    margin-right: 20px;
  }
  
  .mannual-btn:hover{
    background-color:  #2639ED;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  
  .navigation-auto{
  
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: start;
    padding-left: 100px;
   
  }
  
    
  .navigation-auto div:not(:last-child){
    margin-right: 20px;
  }
  
  #radio1:checked ~.navigation-auto .auto-btn-1{
    background: #ccc;
  }
  
  #radio2:checked ~.navigation-auto .auto-btn-2{
    background: #ccc;
  }
  
  
  #radio3:checked ~.navigation-auto .auto-btn-3{
    background: #ccc;
  }
  
  #radio4:checked ~.navigation-auto .auto-btn-4{
    background: #ccc;}
.text12 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #000000;
}
.text11 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #565656;
}

.img11 {
    position: absolute;

    left: 370px;
    top: 2544px;

}

.img12 {
   
    position: absolute;
    left: 130px;
    top: 2830px;
   

    
}
.img13 {
    position: absolute;
width: 120px;
height: 120px;
left: 1120px;
top: 2700px;
}
.img14 {
    position: absolute;
width: 68px;
height: 68px;
left: 1130px;
top: 2580px;
}
.img15 {
    position: absolute;
width: 98px;
height: 98px;
left: 1030px;
top: 2860px;
}
.img16 {
    position: absolute;
width: 54px;
height: 54px;
left: 1272px;
top: 2659px;
}
.img17{
    position: absolute;
width: 54px;
height: 54px;
left: 1277px;
top: 2786px;
}
.img18 {
position: absolute;
width: 68px;
height: 68px;
left: 1199px;
top: 2863px;
}
.img19{
    position: absolute;
width: 68px;
height: 68px;
left: 975px;
top: 2765px;
}
.img20 {
    position: absolute;
width: 98px;
height: 98px;
left: 990px;
top: 2620px;
}
.cont_6 {
    background: #F4F9FF;
border-radius: 75px;
height: 292px;
padding:98px 98px 99px 92px;



}
.text_10 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;

color: #000000;
}
.text11 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #757575;
}
.cont_61 {
    background: #FFFFFF;
border: 1px solid #F1F1F1;
box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
border-radius: 60px;
padding: 10px 10px 10px 34px;
width: 479px;
height: 80px;
position: relative;
z-index: 1;

}
.cont_61>button {
width: 188px;
height: 60px;

border: 2px solid #2639ED;
background: #2639ED;
border-radius: 60px;
}
.cont_61>input {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
border: none;
width: 220px;
color: #959595;
}

.cont62>button {

height: 35px;
width: 100%;
border: 2px solid #2639ED;
background: #2639ED;
border-radius: 60px;
}
.cont62>input {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
border: none;
width: 100%;
height: 35px;
border-radius: 60px;
color: #959595;
}
.img21 {
  position: absolute;
width: 543px;
height: 292px;
left: 714px;
top: 3110px;
}
.img23 {
    
    position: absolute;
    width: 175px;
    height: 154px;
    left: 1079px;
    top: 3037px;
}
.img22 {
 position: absolute;
width: 178px;
height: 178px;
left: 60px;
top: 3246px;
}
.hr1 {
    
    border: 1px solid #E4E4E4;
}
.text14 {
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    
    color: #000000;

}
.text13 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
color: #565656;
}
.text15 {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
color: #000000;
}
.hr2 {
    border: 1px solid #F1F1F1;
   
    

}
.footer {
    font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
color: #A4A4A4;
text-align: center;
}